<<!--template>
<div id="myapp">
     <div id="nav">
         <div v-if="!authenticated">
             <router-link to="/signin">Inicio de Sesion - </router-link>
             <router-link to="/signup">Registro - </router-link>
         </div>
         <div v-else>
            <router-link to="/">Pricipal - </router-link>
            <router-link to="/profile">{{user.name}}</router-link>
         </div>
         <a href="#" @click.prevent="logout">Cerrar Session</a>
     </div>
     <router-view/>
</div>
</template>-->

<template>
        <div>
            <router-view/>
        </div>
</template>

<script>
    export default {
    name:'Main',
    mounted(){
        const plugin = document.createElement('script')
        plugin.setAttribute('scr','/js/myscripts/scriptMain.js')
        plugin.async = true
        document.head.appendChild(plugin)
    }
}
</script>