<template>
    <div>
        <div class="card mb-4">
            <div class="card-header">
               TODAS LAS CATEGORÍA Y TIPOS DE VEHÍCULOS
            </div>
                <div class="card-body">
                    <table class="table table-sm table-dark">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">CATEGORIA Y MODELO</th>
                            <th scope="col">FACHA DE REGISTRO</th>
                            <th scope="col">IDITAR LOS CAMPOS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(category,index) in getCategorys" :key="index" :value="category.id">
                            <th scope="row">{{index}}</th>
                            <td>{{category.name}}</td>
                            <td>{{category.added}}</td>
                            <td><button type="button" class="btn btn-outline-warning">EDITAR</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>      
            </div>  
    </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    name:'AllCategory',
     computed:{
        ...mapGetters({
            getCategorys:'category/get_all_categorys'
         }),
        },
         methods:{
        ...mapActions({
            get_all_categorys:'category/getCategorysAll'
        }),
    },
    mounted(){
            this.get_all_categorys()
        },
}
</script>