<template>
    <div>
        <div class="card mb-4">
            <div class="card-header">
                CREAR NUEVO REGISTRO DE VENTA DE UN AUTOMOVIL
             </div>
             <div class="card-body">
             <form @submit.prevent = "submit" id="createPost">
               <div class="form-group">
                   <label for="title">TITULO</label>
                   <input class="form-control" id="title" name="title" type="text" placeholder="Titulo" v-model="form.title" autocomplete="off">
                   </div>
               <div class="form-group">
               <label for="category">CLASIFICACIÓN DE LAS CATEGORÍAS Y TIPOS DE VEHÍCULOS</label>
               <select class="form-control" id="category" name="category" v-model="form.category">
                   <option selected="true" disabled="disabled" value="">Seleccione el Modelo Category</option>
                <option v-for="(category,index) in getCategorys" :key="index" :value="category.id">{{category.name}}</option>
             </select>
             </div>
             <div class="form-group">
                   <label for="title">PRECIO</label>
                   <input class="form-control" id="price" name="price" type="text" placeholder="Precio" v-model="form.price" autocomplete="off">
                   </div>
                <div class="form-group">
                   <label for="title">IMAGEN DE AUTOMOVIL</label>
                   <input class="form-control" id="image" name="image" type="file" placeholder="subir imagin" v-on:change="onImageChange">
                </div>

              <div class="form-group">
              <label for="body">DESCRIPCION</label>
              <textarea class="form-control" id="body" rows="3" v-model="form.body"></textarea>
              </div>
              <button type="submit" class="btn btn-primary btn-lg btn-block">CREAR REGISTRO DE VENTA</button>
          </form>
        </div>
        </div>

    </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    name:'Posts',
    data(){
        return {
            form:{
                title:'',
                category:'',
                price:'',
                body:'',
            },
            image:'',
        }
    },
    computed:{
        ...mapGetters({
            getCategorys:'category/get_all_categorys'
        })
    },
     methods:{
        ...mapActions({
            send_create_post:'post/createPost',
            get_all_categorys:'category/getCategorysAll'
        }),
        onImageChange(e){
            this.image = e.target.files[0]
        },
        async submit(){
            //await this.send_create_post(this.form)
            const config = {
                headers:{'content-type':'multipart/form-data'}
            }
            console.log(this.image)
            let formData = new FormData();
            //formData.append('image',this.image)
            formData.append('file',this.image)
            formData.append('form',JSON.stringify(this.form))
            let data = {
                config:config,
                formdata:formData
            }

            try {
                await this.send_create_post(data)
                $('#createPost')[0].reset()
                    this.$swal ({
                    icon: 'success',
                    title: 'Creado Correctamente',
                    showConfirmButton: false,
                    timer: 2500
                    })
            }catch(error){
                let msgError = ''
                let obj = error.response.data.errors
                for(var prop in obj){
                    if(!obj.hasOwnProperty(prop)) continue
                    obj[prop].forEach(Element => {
                        msgError = Element + ' ' + msgError
                    });
                }
                this.$swal({
                    icon: 'error',
                    title: 'Oops...',
                    text: msgError,
                });
            }
            
        }
    },
    mounted(){
            this.get_all_categorys()
        }
}
</script>