<template>
    <div>
        <div class="card mb-4">
            <div class="card-header">
                CREAR UNA NUEVA  CATEGORÍA Y TIPOS DE VEHÍCULOS
             </div>
             <div class="card-body">
             <form @submit.prevent = "submit" id="createCategory">
               <div class="form-group">
                   <label for="title">NOMBRE</label>
                   <input class="form-control" id="name" name="name" type="text" placeholder="NOMBRE DE CATEGORY MODEL" v-model="form.name" autocomplete="off">
                   </div>
              <button type="submit" class="btn btn-primary btn-lg btn-block">CREAR CATEGORY MODEL DEL VEHICULO</button>
          </form>
        </div>
        </div>

    </div>
</template>

<script>
import {mapActions} from 'vuex'
export default {
    name:'CreateCategory',
    data(){
        return {
            form:{
                name:'',
            },
        }
    },
    methods:{
        ...mapActions({
            create_category:'category/createCategoty'
        }),
        async submit(){
            try {
                await this.create_category(this.form)
                $('#createCategory')[0].reset()
                    this.$swal ({
                        icon: 'success',
                        title: 'Creado Correctamente',
                        showConfirmButton: false,
                        timer: 2500
                    })
            }catch(error){
                let msgError = ''
                let obj = error.response.data.errors
                for(var prop in obj){
                    if(!obj.hasOwnProperty(prop)) continue
                    obj[prop].forEach(Element => {
                        msgError = Element + ' ' + msgError
                    });
                }
                this.$swal({
                    icon: 'error',
                    title: 'Oops...',
                    text: msgError,
                });
            }
        }
    }
}
</script>