<template>
    <div>
        <div class="card mb-4">
            <div class="card-header">
             CREAR NUEVO REGISTRO DE VENTA DE UN AUTOMOVIL
             </div>
             <div class="card-body">
             <form @submit.prevent = "submit">
               <div class="form-group">
                   <label for="title">TITULO</label>
                   <input class="form-control" id="title" name="title" type="text" placeholder="Titulo" v-model="getPost.title" autocomplete="off">
                </div>
               <div class="form-group">
               <label for="category">CLASIFICACIÓN DE LAS CATEGORÍAS Y TIPOS DE VEHÍCULOS</label>
               <select class="form-control" id="category" name="category" v-model="getPost.categoryId">
                   <option selected="true" disabled="disabled" value="">Seleccione el Modelo</option>
                <option v-for="(category,index) in getCategorys" :key="index" :value="category.id">{{category.name}}</option>
             </select>
             </div>
                <div class="form-group">
                   <label for="title">PRECIO</label>
                   <input class="form-control" id="price" name="price" type="text" placeholder="Precio" v-model="getPost.price" autocomplete="off">
                </div>
                <div class="form-group">
                   <label for="title">IMAGEN DE AUTOMOVIL</label>
                   <input class="form-control" id="image" name="image" type="file" placeholder="subir imagin" v-on:change="onImageChange">
                </div>

              <div class="form-group">
              <label for="body">DESCRIPCION</label>
              <textarea class="form-control" id="body" rows="3" v-model="getPost.body"></textarea>
              </div>
              <button type="submit" class="btn btn-primary btn-lg btn-block">EDITAR REGISTRO DE VENTA</button>
          </form>
        </div>
        </div>

    </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    name:'Posts',
    data(){
        return {
            form:{
                title:'',
                category:'',
                body:'',
            },
            image:'',
            price:'',
        }
    },
    computed:{
        ...mapGetters({
            getCategorys:'category/get_all_categorys',
            getPost:'post/detail_post'
        })
    },
     methods:{
        ...mapActions({
            get_all_categorys:'category/getCategorysAll',
            get_post:'post/detailPost',
            edit_post:'post/editPost'
        }),
        onImageChange(e){
            this.image = e.target.files[0]
        },
        async submit(){
            this.form={
                title:$('#title').val(),
                category:$('#category').val(),
                body:$('#body').val(),
                price:$('#price').val()
            }
            //await this.send_create_post(this.form)
            const config = {
                headers:{'content-type':'multipart/form-data'}
            }
            console.log(this.image)
            let formData = new FormData();
            //formData.append('image',this.image)
            formData.append('file',this.image)
            formData.append('form',JSON.stringify(this.form))
            formData.append('_method','PUT')
            for(var value of formData.values()){
                console.log(value)
            }
            
            let data = {
                config:config,
                parameter:this.$route.params.slug,
                formdata:formData
            }
            try {
                await this.edit_post(data)
                this.get_post(this.$route.params.slug)
                    this.$swal ({
                        icon: 'success',
                        title: 'Editado Corectamente',
                        showConfirmButton: false,
                        timer: 2500
                    })
                } catch (error) {
             }
        }
    },
    mounted(){
            this.get_all_categorys()
            this.get_post(this.$route.params.slug)
        }
}
</script>